<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://com.company.its/menu.application" insertBefore="administration">
        <item screen="its_User.browse" caption="msg://com.company.its.screen.user/UserBrowse.caption"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
        <item screen="its_TaskType.browse" caption="msg://com.company.its.screen.tasktype/taskTypeBrowse.menu"/>
        <item screen="its_Task.browse" caption="msg://com.company.its.screen.task/taskBrowse.menu"/>
    </menu>

</menu-config>